{#
	Sports Match Administrator

	Copyright © 2014-2015, Jack P. Harley, jackpharley.com
	All Rights Reserved
#}

{% extends "base.twig" %}

{% block pageTitle %}{{ league.name }} League{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a href="{{ base_links_url }}">Home</a></li>
					<li class="active">Leagues</li>
					<li class="active">{{ league.name }}</li>
				</ol>

				<h2 style="margin-bottom: 20px;"><span class="glyphicon glyphicon-tasks"></span> {{ league.name }} League</h2>
			</div>

			{% for section in league.sections %}
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="panel panel-primary">
						<div class="panel-heading">Section {{ section.letter }}</div>

						<table class="table">
							<tr>
								<th></th>
								<th>Team</th>
								<th>W</th>
								<th>D</th>
								<th>L</th>
								<th>SF</th>
								<th>SA</th>
								<th>SD</th>
								<th>P</th>
							</tr>

							{% for team in section.getAssignedTeams() %}
								<tr>
									<td>{{ loop.index }}</td>
									<td>{{ team.organization.name }} {{ team.designation }} ({{ team.assignedNumber }})</td>
									<td>{{ team.wins }}</td>
									<td>{{ team.draws }}</td>
									<td>{{ team.losses }}</td>
									<td>{{ team.scoreFor }}</td>
									<td>{{ team.scoreAgainst }}</td>
									<td>{{ team.getScoreDifference() }}</td>
									<td>{{ team.points }}</td>
								</tr>
							{% else %}
								<tr><td>There are no teams assigned to this section</td></tr>
							{% endfor %}
						</table>
					</div><!-- /.box -->
				</div>
			{% endfor %}
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="panel panel-success">
					<div class="panel-heading">Recent Match Results</div>

					<div class="panel-body">
						<p style="font-style: italic; font-size: 0.9em;">
							<strong>Note:</strong> Only confirmed match results will be shown here, match results are automatically confirmed once both teams have submitted a result for a match and the entered scores are identical.
						</p>

						<table class="table table-striped">
							{% for match in matches %}
								<tr>
									<td class="hidden-xs">{{ match.date }}</td>
									<td>{{ match.homeTeam.organization.name }} {{ match.homeTeam.designation }}</td>
									<td class="text-right">{{ match.homeScore }}</td>
									<td class="text-center">vs.</td>
									<td class="text-left">{{ match.awayScore }}</td>
									<td class="text-right">{{ match.awayTeam.organization.name }} {{ match.awayTeam.designation }}</td>
								</tr>
							{% else %}
								<p>There are currently no confirmed match results for this league, check back later.</p>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="panel panel-success">
					<div class="panel-heading">Upcoming Fixtures</div>

					<div class="panel-body">
						{% for date,objects in fixtures %}
							<h4>Play by: {{ date }}</h4>
							<table class="table table-striped">
								{% for object in objects %}
									<tr>
										<td style="width: 40%;">{{ object.homeTeam }}</td>
										<td style="width: 15%;" class="text-center">vs.</td>
										<td style="width: 40%;" class="text-right">{{ object.awayTeam }}</td>
									</tr>
								{% endfor %}
							</table>
						{% else %}
							<p>There are currently no scheduled fixtures for this league, check back later.</p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}