{#
	Sports Match Administrator

	Copyright © 2014-2015, Jack P. Harley, jackpharley.com
	All Rights Reserved
#}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<title>{{ site_name }} - Admin Control Panel</title>
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link href="{{ base_view_url }}/acp/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
		<link href="{{ base_view_url }}/acp/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
		<link href="{{ base_view_url }}/acp/dist/css/skins/skin-blue.min.css" rel="stylesheet" type="text/css" />

		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body class="skin-blue sidebar-mini sidebar-collapse">
		<div class="wrapper">

			<!-- Main Header -->
			<header class="main-header">

				<!-- Logo -->
				<a href="{{ base_links_url }}/acp" class="logo">
					<span class="logo-mini"><i class='fa fa-cog'></i></span>
					<span class="logo-lg"><b>Admin CP</b></span>
				</a>

				<!-- Header Navbar -->
				<nav class="navbar navbar-static-top" role="navigation">
					<!-- Sidebar toggle button-->
					<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
						<span class="sr-only">Toggle navigation</span>
					</a>

					<!-- Navbar Right Menu -->
					<div class="navbar-custom-menu">
						<ul class="nav navbar-nav">

							<!-- User Account Menu -->
							<li class="dropdown user user-menu">
								<!-- Menu Toggle Button -->
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">

									<!-- hidden-xs hides the username on small devices so only the image appears. -->
									<span>{{ visitor.fullName }} ({{ visitor.group.name }})</span>
								</a>
								<ul class="dropdown-menu">
									<!-- Menu Body -->
									<li class="user-body">
										<p>
											{{ visitor.fullName }} - {{ visitor.group.name }}
											<small>{% if visitor.organization %}{{ visitor.organization.name }}{% endif %}</small>
										</p>
									</li>

									<!-- Menu Footer-->
									<li class="user-footer">
										<div class="pull-right">
											<a href="{{ base_links_url }}" class="btn btn-primary btn-flat">Back to Site Home</a>
											<a href="{{ base_links_url }}/user/logout" class="btn btn-danger btn-flat">Logout</a>
										</div>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
			</header>

			<!-- Left side column. contains the logo and sidebar -->
			<aside class="main-sidebar">

				<!-- sidebar: style can be found in sidebar.less -->
				<section class="sidebar">

					<!-- Sidebar Menu -->
					<ul class="sidebar-menu">
						<!-- Optionally, you can add icons to the links -->
						<li {% if "/acp" is exactcurrentpath %}class="active"{% endif %}>
							<a href="{{ base_links_url }}/acp"><i class='fa fa-dashboard'></i> <span>Dashboard</span></a>
						</li>

						<li {% if "/acp/user" is currentpath %}class="active"{% endif %}>
							<a href="{{ base_links_url }}/acp/user"><i class='fa fa-user'></i> <span>Users</span></a>
						</li>

						<li {% if "/acp/group" is currentpath %}class="active"{% endif %}>
							<a href="{{ base_links_url }}/acp/group"><i class='fa fa-users'></i> <span>User Groups</span></a>
						</li>

						<li {% if "/acp/organization" is currentpath %}class="active"{% endif %}>
							<a href="{{ base_links_url }}/acp/organization"><i class='fa fa-building'></i> <span>{{ constant("ORGANIZATION_WORD")|capitalize }}s</span></a>
						</li>

						<li {% if "/acp/team" is currentpath %}class="active"{% endif %}>
							<a href="{{ base_links_url }}/acp/team"><i class='fa fa-futbol-o'></i> <span>Teams</span></a>
						</li>

						<li {% if "/acp/league" is currentpath %}class="active"{% endif %}>
							<a href="{{ base_links_url }}/acp/league"><i class='fa fa-list'></i> <span>Leagues</span></a>
						</li>
					</ul><!-- /.sidebar-menu -->
				</section>
				<!-- /.sidebar -->
			</aside>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				{% if alerts %}
					<section class="content-header">
						{% for alert in alerts %}
							<div class="alert alert-{{ alert.type }} alert-dismissable">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

								{% if alert.type == "success" %}
									<h4><i class="icon fa fa-check"></i> Success!</h4>
								{% elseif alert.type == "info" %}
									<h4><i class="icon fa fa-info"></i> Important!</h4>
								{% elseif alert.type == "warning" %}
									<h4><i class="icon fa fa-warning"></i> Warning!</h4>
								{% elseif alert.type == "danger" %}
									<h4><i class="icon fa fa-ban"></i> Error!</h4>
								{% endif %}

								{{ alert.message }}
							</div>
						{% endfor %}
					</section>
				{% endif %}

				{% block page %}
				{% endblock %}
			</div><!-- /.content-wrapper -->

			<!-- Main Footer -->
			<footer class="main-footer">
				<!-- To the right -->
				<div class="pull-right hidden-xs">
					{% if show_request_times %}
						Request completed in {{ request_time() }}s<br>
						{{ database_queries() }} DB queries prepared
					{% endif %}
				</div>

				<!-- Default to the left -->
				Powered by Sports Match Administrator.<br>
				<b>Copyright © 2014-2015, <a href="https://jackpharley.com" target="_blank">Jack P. Harley</a></b>
			</footer>
		</div><!-- ./wrapper -->

		<script src="{{ base_view_url }}/acp/plugins/jQuery/jQuery-2.1.4.min.js"></script>
		<script src="{{ base_view_url }}/acp/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="{{ base_view_url }}/acp/dist/js/app.min.js" type="text/javascript"></script>
		{% block javascript %}{% endblock %}
	</body>
</html>