{#
	Sports Match Administrator

	Copyright © 2014-2015, Jack P. Harley, jackpharley.com
	All Rights Reserved
#}

{% extends "acp/base.twig" %}

{% block page %}
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>League Management - {{ league.name }}</h1>
	</section>

	<!-- Main content -->
	<section class="content">
		<!-- one column -->
		<div class="row">
			<div class="col-sm-6 col-xs-8">
				<div class="box box-primary">
					<div class="box-header">
						<h3 class="box-title">League Details</h3>
					</div><!-- /.box-header -->

					<div class="box-body">
						<p>
							<strong>League Name:</strong> {{ league.name }}<br>
							<strong>League Manager:</strong> {{ league.getManager().fullName }} - {{ league.getManager().phoneNumber }} - {{ league.getManager().email }}
						</p>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div><!-- /.col -->
		</div><!-- /.row -->

		<div class="row">
			<div class="col-sm-6 col-xs-6">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title"><i class="fa fa-question-circle"></i> What is a League Section?</h3>
					</div><!-- /.box-header -->
					<!-- form start -->
					<div class="box-body">
						Leagues are divided into sections/groups of teams which will play each other in the initial round, and then the top teams can be entered into the next stage. If your league is small enough that there is time for them to all play each other, you can simply create a single section and assign all of your teams to it.
					</div>
				</div><!-- /.box -->
			</div>

			<div class="col-sm-6 col-xs-6">
				<div class="box box-success">
					<div class="box-header with-border">
						<h3 class="box-title"><i class="fa fa-plus"></i> Add Section</h3>
					</div><!-- /.box-header -->
					<!-- form start -->
					<form role="form" action="{{ base_links_url }}/acp/section/add" method="post">
						<input type="hidden" name="league_id" value="{{ league.id }}">

						<div class="box-body">
							<p>
								The section will be given the next available alphabetic letter (A, B, C...) as an identifier. For example if you currently have one section designated as "Section A" then your next section will be designated as "Section B"
							</p>
						</div><!-- /.box-body -->

						<div class="box-footer">
							<button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Add Section</button>
						</div>
					</form>
				</div><!-- /.box -->
			</div><!-- /.col -->
		</div><!-- ./row -->

		<div class="row">
			<form action="" method="post">
				<input type="hidden" name="league" value="{{ league.id }}">

				{% for section in league.sections %}
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="box box-warning">
							<div class="box-header with-border">
								<h3 class="box-title">Section {{ section.letter }}</h3>
							</div><!-- /.box-header -->
							<!-- form start -->
							<div class="box-body">
								<p>
									<strong>Assigned Teams:</strong>
								</p>

								<table class="table table-bordered">
									{% for team in section.getAssignedTeams() %}
										<tr>
											<td><input type="text" name="team{{ team.id }}number" class="form-control" style="width: 35px;" value="{{ team.assignedNumber }}"></td>
											<td>{{ team.organization.name }}</td>
											<td>{{ team.designation }}</td>
											<td class="text-right"><a class="btn btn-xs btn-primary" href="{{ base_links_url }}/acp/team/manage?id={{ team.id }}"><i class="fa fa-edit"></i> Manage Team</a></td>
										</tr>
									{% else %}
										<tr><td>There are no teams assigned to this section</td></tr>
									{% endfor %}
								</table>
							</div>

							<div class="box-footer">
								<p class="text-right">
									<button type="submit" class="btn btn-success btn-sm btn-block"><i class="icon fa fa-save"></i> Save Team Numbers</button>
									<a {% if section.getAssignedTeams() %}disabled{% endif %} href="{{ base_links_url }}/acp/section/delete?id={{ section.id }}" class="btn btn-sm btn-danger btn-block"><i class="fa fa-trash"></i> Delete Section {{ section.letter }}</a>
								</p>
							</div>
						</div><!-- /.box -->
					</div>
				{% endfor %}
			</form>
		</div>

		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<div class="box box-{% if unassignedTeams %}danger{% else %}success{% endif %}">
					<div class="box-header with-border">
						<h3 class="box-title"><i class="fa fa-list"></i> Teams Awaiting Assignation to a Section</h3>
					</div><!-- /.box-header -->

					<div class="box-body">
						{% if unassignedTeams %}
							<p>
								These teams have been registered and assigned to this league, but not assigned to a section, click one of the section buttons beside each team to assign it to that section.
							</p>

							<table id="team-table" class="table table-bordered table-striped">
								<thead>
								<tr>
									<th>Date Registered</th>
									<th>{{ constant("ORGANIZATION_WORD")|capitalize }} / Name</th>
									<th># Players</th>
									<th>Registrant</th>
									<th class="text-right">Assign to...</th>
								</tr>
								</thead>
								<tbody>
								{% for object in unassignedTeams %}
									<tr>
										<td>{{ object.epochRegistered|epochtodatetime }}</td>
										<td>{{ object.organization.name }} / {{ object.designation }}</td>
										<td>{{ object.getPlayers()|length }}</td>
										<td>{{ object.registrant.fullName }}</td>
										<td class="text-right">
											{% for section in league.sections %}
												<a class="btn btn-primary" href="{{ base_links_url }}/acp/team/assign?id={{ object.id }}&section={{ section.id }}">{{ section.letter }}</a>
											{% endfor %}
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						{% else %}
							<p>All teams assigned to this league have been assigned to a section.</p>
						{% endif %}
					</div>
				</div><!-- /.box -->
			</div>
		</div>

	</section><!-- /.content -->
{% endblock %}