{#
	Sports Match Administrator

	Copyright © 2014-2015, Jack P. Harley, jackpharley.com
	All Rights Reserved
#}

{% extends "acp/base.twig" %}

{% block javascript %}
	<script type="text/javascript" src="{{ base_view_url }}/acp/plugins/datepicker/bootstrap-datepicker.js"></script>

	<script type="text/javascript">
		$('.datepicker').datepicker({
			format: 'yyyy-mm-dd',
			autoclose: true
		});

		function showAssignedNumbersMethod() {
			$("#teams-method").slideUp();
			setTimeout(function() {
				$("#assigned-numbers-method").slideDown();
			}, 300);
		}

		function showTeamsMethod() {
			$("#assigned-numbers-method").slideUp();
			setTimeout(function() {
				$("#teams-method").slideDown();
			}, 300);
		}
	</script>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ base_view_url }}/acp/plugins/datepicker/datepicker3.css">
{% endblock %}

{% block page %}
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>League Management - {{ league.name }}</h1>
	</section>

	<!-- Main content -->
	<section class="content">
		<!-- one column -->
		<div class="row">
			<div class="col-sm-6 col-xs-8">
				<div class="box box-primary">
					<div class="box-header">
						<h3 class="box-title">League Details</h3>
					</div><!-- /.box-header -->

					<div class="box-body">
						<p>
							<strong>League Name:</strong> {{ league.name }}<br>
							<strong>League Manager:</strong> {{ league.getManager().fullName }} - {{ league.getManager().phoneNumber }} - {{ league.getManager().email }}
						</p>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div><!-- /.col -->
		</div><!-- /.row -->

		<div class="row">
			<div class="col-sm-6 col-xs-6">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title"><i class="fa fa-question-circle"></i> What is a League Section?</h3>
					</div><!-- /.box-header -->
					<!-- form start -->
					<div class="box-body">
						Leagues are divided into sections/groups of teams which will play each other in the initial round, and then the top teams can be entered into the next stage. If your league is small enough that there is time for them to all play each other, you can simply create a single section and assign all of your teams to it.
					</div>
				</div><!-- /.box -->
			</div>

			<div class="col-sm-6 col-xs-6">
				<div class="box box-success">
					<div class="box-header with-border">
						<h3 class="box-title"><i class="fa fa-plus"></i> Add Section</h3>
					</div><!-- /.box-header -->
					<!-- form start -->
					<form role="form" action="{{ base_links_url }}/acp/section/add" method="post">
						<input type="hidden" name="league_id" value="{{ league.id }}">

						<div class="box-body">
							<p>
								The section will be given the next available alphabetic letter (A, B, C...) as an identifier. For example if you currently have one section designated as "Section A" then your next section will be designated as "Section B"
							</p>
						</div><!-- /.box-body -->

						<div class="box-footer">
							<button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Add Section</button>
						</div>
					</form>
				</div><!-- /.box -->
			</div><!-- /.col -->
		</div><!-- ./row -->

		<div class="row">
			<form action="" method="post">
				<input type="hidden" name="league" value="{{ league.id }}">

				{% for section in league.sections %}
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="box box-warning">
							<div class="box-header with-border">
								<h3 class="box-title">Section {{ section.letter }}</h3>
							</div><!-- /.box-header -->
							<!-- form start -->
							<div class="box-body">
								<p>
									<strong>Assigned Teams:</strong>
								</p>

								<table class="table table-bordered">
									{% for team in section.getAssignedTeams() %}
										<tr>
											<td><input type="text" name="team{{ team.id }}number" class="form-control" style="width: 35px;" value="{{ team.assignedNumber }}"></td>
											<td>{{ team.organization.name }}</td>
											<td>{{ team.designation }}</td>
											<td class="text-right"><a class="btn btn-xs btn-primary" href="{{ base_links_url }}/acp/team/manage?id={{ team.id }}"><i class="fa fa-edit"></i> Manage Team</a></td>
										</tr>
									{% else %}
										<tr><td>There are no teams assigned to this section</td></tr>
									{% endfor %}
								</table>
							</div>

							<div class="box-footer">
								<p class="text-right">
									<button type="submit" class="btn btn-success btn-sm btn-block"><i class="icon fa fa-save"></i> Save Team Numbers</button>
									<a {% if section.getAssignedTeams() %}disabled{% endif %} href="{{ base_links_url }}/acp/section/delete?id={{ section.id }}" class="btn btn-sm btn-danger btn-block"><i class="fa fa-trash"></i> Delete Section {{ section.letter }}</a>
								</p>
							</div>
						</div><!-- /.box -->
					</div>
				{% endfor %}
			</form>
		</div>

		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<div class="box box-{% if unassignedTeams %}danger{% else %}success{% endif %}">
					<div class="box-header with-border">
						<h3 class="box-title"><i class="fa fa-list"></i> Teams Awaiting Assignation to a Section</h3>
					</div><!-- /.box-header -->

					<div class="box-body">
						{% if unassignedTeams %}
							<p>
								These teams have been registered and assigned to this league, but not assigned to a section, click one of the section buttons beside each team to assign it to that section.
							</p>

							<table id="team-table" class="table table-bordered table-striped">
								<thead>
								<tr>
									<th>Date Registered</th>
									<th>{{ constant("ORGANIZATION_WORD")|capitalize }} / Name</th>
									<th># Players</th>
									<th>Registrant</th>
									<th class="text-right">Assign to...</th>
								</tr>
								</thead>
								<tbody>
								{% for object in unassignedTeams %}
									<tr>
										<td>{{ object.epochRegistered|epochtodatetime }}</td>
										<td>{{ object.organization.name }} / {{ object.designation }}</td>
										<td>{{ object.getPlayers()|length }}</td>
										<td>{{ object.registrant.fullName }}</td>
										<td class="text-right">
											{% for section in league.sections %}
												<a class="btn btn-primary" href="{{ base_links_url }}/acp/team/assign?id={{ object.id }}&section={{ section.id }}">{{ section.letter }}</a>
											{% endfor %}
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						{% else %}
							<p>All teams assigned to this league have been assigned to a section.</p>
						{% endif %}
					</div>
				</div><!-- /.box -->
			</div>

			<div class="col-sm-6 col-xs-12">
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title"><i class="fa fa-list"></i> Current Fixtures</h3>
					</div><!-- /.box-header -->

					<div class="box-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Play by Date</th>
									<th>Home Team</th>
									<th>Away Team</th>
									<th></th>
								</tr>
							</thead>

							<tbody>
								{% for fixture in fixtures %}
									<tr>
										<td>{{ fixture.playByDate }}</td>
										<td>{{ fixture.getHomeTeamString() }}</td>
										<td>{{ fixture.getAwayTeamString() }}</td>
										<td><a class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-xs-12">
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title"><i class="fa fa-plus"></i> Add Fixture</h3>
					</div><!-- /.box-header -->

					<div class="box-body">
						<form action="{{ base_links_url }}/acp/fixture/add">
							<label for="date">Play by Date: (YYYY-MM-DD)</label>
							<input id="date" class="form-control datepicker" type="text" name="date">
							<br>
							<label>How would you like to define the teams for this fixture?</label><br>
							<label class="radio-inline">
								<input type="radio" name="type" id="type-assigned-number" value="assigned-number" onclick="showAssignedNumbersMethod()"> Assigned Numbers
							</label>
							<label class="radio-inline">
								<input type="radio" name="type" id="type-team" value="team" onclick="showTeamsMethod()"> Particular Teams
							</label>
							<br><br>

							<div id="assigned-numbers-method" style="display: none;">
								<label for="home-team-number">Home Team Number:</label>
								<input class="form-control" type="number" name="home-team-number" id="home-team-number" placeholder="1"><br>

								<label for="away-team-number">Away Team Number:</label>
								<input class="form-control" type="number" name="away-team-number" id="away-team-number" placeholder="2"><br>

								<button type="submit" class="btn btn-block btn-success"><i class="fa fa-plus"></i> Add Fixture</button>
							</div>

							<div id="teams-method" style="display: none;">
								<label for="home-team-id">Home Team:</label>
								<select class="form-control" name="home-team-id" id="home-team-id">
									{% for team in league.getAssignedTeams() %}
										<option value="{{ team.id }}">{{ team.organization.name }} - {{ team.designation }}</option>
									{% endfor %}	
								</select>
								<br>

								<label for="away-team-id">Away Team:</label>
								<select class="form-control" name="away-team-id" id="away-team-id">
									{% for team in league.getAssignedTeams() %}
										<option value="{{ team.id }}">{{ team.organization.name }} - {{ team.designation }}</option>
									{% endfor %}
								</select>
								<br>
								<button type="submit" class="btn btn-block btn-success"><i class="fa fa-plus"></i> Add Fixture</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</section><!-- /.content -->
{% endblock %}