{#
	Sports Match Administrator

	Copyright © 2014-2015, Jack P. Harley, jackpharley.com
	All Rights Reserved
#}

{% extends "base.twig" %}

{% block pageTitle %}Register Team{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		var highestInput = 1;

		function addPlayerInput() {
			highestInput++;
			$("#players-inputs").append('<div class="input-group" style="margin-bottom: 5px;"><input type="text" name="player' + highestInput +'" id="player' + highestInput +'" class="form-control" placeholder="Player Name"><span class="input-group-addon"><input name="player' + highestInput +'e" type="checkbox"> Star</span></div>');
		}
	</script>
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li><a href="{{ base_links_url }}">Home</a></li>
					<li class="active">Team Registration</li>
				</ol>

				<h2><span class="fa fa-futbol-o"></span> Team Registration</h2>
			</div>
		</div>

		<p>
			Please use the form below to register teams for the coming season, if you need to edit a team you have already registered please use the edit buttons beside your teams.
		</p>

		<div class="clearfix" style="height: 20px;"></div>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="panel panel-primary">
					<div class="panel-heading"><span class="fa fa-plus"></span> Register Team</div>

					<div class="panel-body">
						<form action="" method="post">
							<label for="organization-id">{{ constant("ORGANIZATION_WORD")|capitalize }}:</label>
							<select {% if not visitor.checkPermissions("RegisterTeamsForAnyOrganization") %}disabled{% endif %} name="organization-id" id="organization-id" class="form-control">
								{% for organization in organizations %}
									<option {% if organization.id == visitor.organizationId %}selected{% endif %} value="{{ organization.id }}">{{ organization.name }}</option>
								{% endfor %}
							</select>

							<br>

							{% if constant("ALLOW_TEAM_REGISTRANTS_TO_SELECT_LEAGUE") %}
								<label for="league-id">League:</label>
								<select name="league-id" id="league-id" class="form-control">
									{% for league in leagues %}
										<option value="{{ league.id }}">{{ league.name }}</option>
									{% endfor %}
								</select>

								<br>
							{% endif %}

							<label for="designation">Team Name:</label><br>
							<p><i>This should be used to indicate the team's position within your {{ constant("ORGANIZATION_WORD") }}: e.g. Senior A, Senior B, Junior A, Junior B, U-13 A, U-13 B</i></p>
							<input class="form-control" type="text" name="designation" id="designation" placeholder="Senior A">

							<div class="clearfix" style="height: 20px;"></div>

							<h4>Players:</h4>
							<p>
								<i>Please enter the full names of the players who will be assigned to this team below, one per box. Click the Add Another button to add another box. Please ensure you spell all names correctly! You may star up to x number of players, these players will be able to play in other leagues without restriction.</i>
							</p>

							<div id="players-inputs">
								<div class="input-group" style="margin-bottom: 5px;">
									<input type="text" name="player1" id="player1" class="form-control" placeholder="Player Name">
									<span class="input-group-addon">
										<input name="player1e" type="checkbox"> Star
									</span>
								</div>
							</div>

							<button type="button" onclick="addPlayerInput()" class="btn btn-block btn-info"><span class="fa fa-plus"></span> Add Another</button>

							<div class="clearfix" style="height: 20px;"></div>

							<h4>Make sure everything is correct...</h4>
							<p>
								Double check everything above then click the Register button to register this team.
							</p>

							<button type="submit" class="btn btn-lg btn-primary btn-block"><span class="fa fa-save"></span> Register!</button>
						</form>
					</div>
				</div>
			</div>

			{% if visitor.organizationId %}
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="panel panel-primary">
						<div class="panel-heading"><span class="fa fa-list"></span> Registered Teams For {{ visitor.organization.name }}</div>

						<div class="panel-body">
							<p>
								These are the teams currently registered for your {{ constant("ORGANIZATION_WORD") }}, if any details are incorrect please correct them by editing the team in question.
							</p>
						</div>

						<table class="table">
							<tr>
								<th>League</th>
								<th>Name</th>
								<th># Players</th>
								<th></th>
							</tr>
							{% for team in teams %}
								<tr>
									<td>{% if team.leagueId %}{{ team.getLeague().name }}{% else %}<i>Not Assigned</i>{% endif %}</td>
									<td>{{ team.designation }}</td>
									<td>{{ team.getPlayers()|length }}</td>
									<td style="text-align: right;"><a href="{{ base_links_url }}/team/edit?id={{ team.id }}" class="btn btn-warning btn-sm"><span class="fa fa-edit"></span> Edit/View Player List</a></td>
								</tr>
							{% else %}

							{% endfor %}
						</table>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}