{#
	Sports Match Administrator

	Copyright © 2014-2015, Jack P. Harley, jackpharley.com
	All Rights Reserved
#}

{% extends "base.twig" %}

{% block pageTitle %}Team Registered{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li><a href="{{ base_links_url }}">Home</a></li>
					<li><a href="{{ base_links_url }}/team/register">Team Registration</a></li>
					<li class="active">Registration Successful</li>
				</ol>

				<h2><span class="fa fa-futbol-o"></span> Team Registered!</h2>
			</div>
		</div>

		<p>
			Your team has been registered successfully, to register another team, click the button below.
		</p>

		<p>
			<a class="btn btn-block btn-info" href="{{ base_links_url }}/team/register"><span class="fa fa-plus"></span> Register Another Team</a>
		</p>

		<div class="clearfix" style="height: 10px;"></div>

		<div class="row">
			<div class="col-lg-6 col-md-7 col-sm-9 col-xs-12">
				<div class="panel panel-primary">
					<div class="panel-heading"><span class="fa fa-plus"></span> Team Details</div>

					<table class="table">
						<tr>
							<th>Name:</th>
							<td>{{ team.designation }}</td>
						</tr>

						<tr>
							<th>{{ constant("ORGANIZATION_WORD")|capitalize }}:</th>
							<td>{{ team.organization.name }}</td>
						</tr>

						<tr>
							<th>League:</th>
							<td>{% if team.leagueId %}{{ team.getLeague().name }}{% else %}<i>Not Assigned</i>{% endif %}</td>
						</tr>
						<tr>
							<th>League Section:</th>
							<td>{% if team.leagueSectionId %}{{ team.getLeague().name }} {{ team.getLeagueSection().letter }}{% else %}<i>Not Assigned</i>{% endif %}</td>
						</tr>
					</table>
				</div>
			</div>

			<div class="col-lg-6 col-md-7 col-sm-9 col-xs-12">
				<div class="panel panel-primary">
					<div class="panel-heading"><span class="fa fa-list"></span> Players</div>

					<table class="table">
						{% for player in team.getPlayers() %}
							<tr><td>{{ player.fullName }}</td></tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}